/*全局調用*/
h1, h2, h3, h4, h5, h6, hr,blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin: 0; padding: 0; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal;}
table{border-collapse: collapse;border-spacing: 0;}
fieldset, img{border: 0;}
abbr, acronym{border: 0;}
address, caption, cite, code, dfn, em, strong, th, var {font-style: normal;font-weight: normal;}
input, select, textarea { -webkit-tap-highlight-color: rgba(0,0,0,0); border: 0; border-radius: 0; }
input, img { vertical-align: middle;outline: none;}
::-webkit-scrollbar {width: 5px; height: 5px;-webkit-transition:1s;}
::-webkit-scrollbar-thumb {background-color: #a7afb4;background-clip: padding-box;min-height: 28px;}
::-webkit-scrollbar-thumb:hover {background-color: #525252;background-clip: padding-box; min-height: 28px;}
::-webkit-scrollbar-track-piece {background-color: #ccd0d2;}
ul, ol, li { list-style: none;}

a:link, a:visited, a:hover, a:active {text-decoration: none; }
.l{float: left;}	
.r{float: right;}
.clear{clear: both; }
.undis{display: none; }	
p{line-height: 1.75;margin: 1em 0;}
.contain_img img{width: 100%;margin: 0.5em 0;}

body{font-family: -apple-system-font,"Helvetica Neue","PingFang SC","Hiragino Sans GB","Microsoft YaHei",sans-serif;background-color: #f3f3f3;max-width: 640px;margin: 0 auto;font-size: 17px;color:rgb(63, 63, 63);}
section{background: #fff;padding:10px 15px;}
header{background: #fff;padding:70px 15px 10px 15px;}
.red{color: #c7254e;}
footer{font-size: 30%;}

/*响应式*/
@media screen and (max-width:1170px){
	.side{display: none;}
}

/*头部*/
.bdheader{width:640px;height: 60px; position: fixed;top: 0; background:#f84c4a; line-height: 60px; font-family: "微软雅黑"; color: #FFF; font-weight: bold;}
.dingyue{background: #b23636;padding:0 10px;margin: 10px 5px; line-height: 40px;}
.bdheader a:link,a:visited,a:hover,a:active{margin:0 5px 0 5px; color:#FFF;}

/*正文*/
.autor{margin: 1rem 0;color: #8c8c8c;font-size: 1rem 0 0 0;}
h1{font-size: 1.5rem;font-weight: 400;color: #555;}
.descript{color: #3e3e3e;padding: 5px 0 5px 10px;border-left: 5px solid #dbdbdb;margin:1em 0;white-space: normal;background-color: rgba(219,219,219,.1);font-weight: 400;}
.Stitle{font-size: 1.5rem;color: #ff0000;text-align: center;}
.important{color: #ff0000;background-color: #ffcdcd;border-radius: .4rem;padding: .1rem .5rem;}

.add_wx{padding: 3px 6px;border-radius: 6px;background-color: #dc0101;}
.add_wx a:link, a:visited, a:hover, a:active {color: #fff;}

.pinglun {border-top: 1px solid #D9D9D9;margin: 5% 0 0 0; background: #f3f3f3;font-size: 14px;height: 750px;}
.pinglun dl{padding:4% 0;}
.pinglun dt{float: left;  width: 10%;}
.pinglun dt img{border-radius: 50%;}
.pinglun dd{float: right; width: 88%;}
.pinglun p{line-height: 1.75;}
.pinglun_title{color:#717171;font-size: 90%;}
.pinglun_time{font-size: 80%;}
.pinglun_answer{background:#F3F3F3;padding: 2%; border-radius: 5px;}

/*咨询页面*/
.ask_head{background: #F84C4A;height: 60px; line-height: 60px;font-family: "微软雅黑";font-weight: bold;width: 96%; padding: 0 2%; color: #FFF;}
.ask_ico {border-bottom: 1px solid #e4e4e4;}
.ask_contain {width: 96%;}
.add_buzhou {width: 96%; padding:2%; border-top:1px #E6E6E6 dashed;margin: 10% 0 0 0;}
.userwx{color: #F84C4A;font-weight: bold; font-size: 150%;text-align: center;}
#wx{margin: 0 auto; border-radius:25px; width: 125px;line-height: 35px; height:35px;background: #F84C4A;display:block; text-align: center;}
#wx a:link, a:visited, a:hover, a:active {text-decoration: none; color:#FFF;}
.ask_say{border-top: 1px solid #e4e4e4;background: #fbfbfb;padding: 15px 0;height: 18px;line-height: 18px;text-align: left;color: #666; position: fixed;bottom: 0; width: 640px;margin: 0; color:#D9D9D9;}
.mar79{margin: 0 0 50px 0;}
.ask_zixun{border: 1px solid #e4e4e4;padding: 0 5px; background:#D9D9D9; color: FFF;}

/*侧边栏*/
.side{width: 230px; position: fixed;top: 0;right:0;}